<!DOCTYPE html>
<html>

  <head>

    <title><%= t('app.name') %></title>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= stylesheet_link_tag    'site', media: 'all' %>

    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'site' %>
    <%= csrf_meta_tags %>


    <!-- Bootstrap core CSS -->
    <!-- <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->

    <!-- Custom styles for this template -->
<!--     <link href="css/shop-homepage.css" rel="stylesheet"> -->

  </head>

  <body>
      <%= render :partial => "layouts/site_shared/navigation" %>
      <%= yield %>
      <%= render :partial => "layouts/site_shared/footer" %>
  </body>

</html>

